@model Rental

@{
    ViewData["Title"] = "Rental Detail";
}

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title mt-2">
            <h2>Rental Details</h2>
            <p>Edit one or more information on your rental here.</p>
        </div>

        <div class="row">
            <div class="col-lg-8 mt-5 mt-lg-0">
                <partial name="_NotificationPartial" />
                <div class="col-md-12 my-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="content">
                                <h2 class="card-title">@Model.Title</h2>
                                <div class="content">
                                    <b>Description: </b>@Model.RentalDescription <br /> <br />
                                    <b>Address: </b> No @Model.RentalAddress <br /> <br />

                                    <div class="row">
                                        @for (int i = 0; i < Model.image.Count(); i++)
                                        {
                                            <div class="card" style="width: 16rem;">
                                                <img src="~/Media/Rentals/@Model.image[i].ImageLocation" class="img-fluid img-thumbnail" alt="house image" />
                                                <div class="card-footer">
                                                    <div class="row">
                                                        <div class="col-6 text-left">
                                                            @*<a href="#">Change</a>*@
                                                        </div>

                                                        <div class="col-6 text-right">
                                                            <a asp-controller="Account" asp-action="DeleteImage" asp-route-name="@Model.image[i].ImageLocation">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="col-6 text-left">
                                            <input type="checkbox" class="form-check-inline" id="rented" name="rented">
                                            <label for="rented" class="text-muted text-sm-left">Mark as rented</label>
                                        </div>

                                        <div class="col-6 text-right">
                                            <a asp-controller="Account" asp-action="DeleteRental" asp-route-id="@Model.Id" class="text-muted text-sm-right" style="text-decoration:none; color:#eee;">Delete Ad</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <partial name="_sidebarPartial" />

        </div>

    </div>
</section><!-- End Contact Section -->

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}